<?xml version="1.0" encoding="utf-8" ?>
<!-- autoReload:実行中にファイルを変えたらその通りに動作する -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="internal-nlog.txt">

  <targets async="true">
    <!-- デバッグログ -->
    <target xsi:type="File" name="DebugLog"
            fileName="logs/debug.log"
            encoding="UTF-8"
            lineEnding="CRLF"
            archiveFileName="logs/debug_{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            enableArchiveFileCompression="true"
            layout="${longdate},${uppercase:${level}},${logger},${message} ${exception:format=tostring}" />

    <!-- 情報ログ -->
    <target xsi:type="File" name="InfoLog"
            fileName="logs/info_${date:format=yyyyMMdd}.log"
            encoding="UTF-8"
            lineEnding="CRLF"
            archiveFileName="logs/info_{#}.zip"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="365"
            enableArchiveFileCompression="true"
            layout="${longdate},${uppercase:${level}},${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- デバッグログ -->
    <logger name="*" minlevel="Trace" writeTo="DebugLog" />

    <!-- 情報ログ -->
    <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="InfoLog" />
  </rules>
</nlog>